@font-face {
  font-family: 'Modi Thorson';
  src: url('fonts/ModiThorson-Regular.woff2') format('woff2'),
       url('fonts/ModiThorson-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
